<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/register.css" />
    <title>Sign Up</title>
</head>

<body>
    <div class="bg-colored"></div>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class=" col-lg-6">
            <div class="section bg-white p-0">
                <div class="card-header ">
                    <div class="text-center mt-2 mb-1">
                        <h1>Sign Up</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <form id="form" role="form" class="row" method="post" action="Account/Register">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" id="first_name" name="first_name"
                                    placeholder="First Name" required>
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" id="last_name" name="last_name"
                                    placeholder="Last Name" required>
                            </div>
                            <div class="form-group col-12">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                    required>
                            </div>
                            <div class="form-group col-12">
                                <input type="tel" class="form-control" id="phone" name="phone"
                                    placeholder="Phone Number" required>
                            </div>
                            <div class="form-group col-12">
                                <input type="text" class="form-control" id="home_address" name="home_address"
                                    placeholder="Home Address" required>
                            </div>
                            <div class="form-group col-12">
                                <select class="custom-select ">
                                    <option selected disabled>City</option>
                                    <option value="Zagazig">Zagazig</option>
                                    <option>abu hamad</option>
                                    <option>minia elkamh </option>
                                    <option>heryah</option>
                                </select>
                            </div>
                            <div class="form-group col-12">
                                <select class="custom-select ">
                                    <option selected disabled>Governorate</option>
                                    <option value="Alexandria">Alexandria</option>
                                    <option>Aswan</option>
                                    <option>Asyut </option>
                                    <option>Beheira</option>
                                    <option>Beni Suef</option>
                                    <option>Cairo</option>
                                    <option>Dakahlia</option>
                                    <option>Damietta</option>
                                    <option>Faiyum</option>
                                    <option>Gharbia</option>
                                    <option>Giza</option>
                                    <option>Ismailia </option>
                                    <option>Kafr El Sheikh </option>
                                    <option>Luxor</option>
                                    <option>Matruh</option>
                                    <option>Minya</option>
                                    <option>Monufia</option>
                                    <option>New Valley</option>
                                    <option>Port Said</option>
                                    <option>Qalyubia</option>
                                    <option>Qena</option>
                                    <option>Red Sea</option>
                                    <option>Sharqia</option>
                                    <option>Sohag</option>
                                    <option>South Sinai</option>
                                    <option>Suez</option>
                                </select>
                            </div>
                            <div class="form-group col-12">
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password" required>
                            </div>
                            <div class="col-12">
                                <small>Already have an account?</small>
                                <a href="~/Views/Account/Login.cshtml">Sign In</a>
                            </div>
                            <div class=" col-12 text-center mt-3">
                                <button type="submit" class=" full-button ">Sign Up</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Start Script-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--End Script-->
</body>